/* toute l'appli */
body{
    background-color: #DDFED6; /* vert très pâle */
}

/* div contenant l'image sur la page "d'accueil" */
#image_accueil{
    margin-top: 15%;
    margin-bottom: 20%;
}

/* image de la planète Atys */
#image_atys {
    max-width: 65%;
    height: auto;
}

/* élément centré */
.centre{
   text-align: center; 
}

/* style du bouton */
.btn {
    /* couleurs initiales (bleu) : #3498db, #2980b9 */
    background: #52AE40;
    background-image: -webkit-linear-gradient(top, #52AE40, #166705);
    background-image: -moz-linear-gradient(top, #52AE40, #166705);
    background-image: -ms-linear-gradient(top, #52AE40, #166705);
    background-image: -o-linear-gradient(top, #52AE40, #166705);
    background-image: linear-gradient(to bottom, #52AE40, #166705);
    font-family: Arial;
    color: #ffffff;
    font-size: 20px;
    padding: 10px 20px 10px 20px;
    text-decoration: none;
}

/* coins arrondis */
.arrondi{
    -webkit-border-radius: 28;
    -moz-border-radius: 28;
    border-radius: 28px;
}

/* style du bouton au moment où on "clique" dessus */
.btn:active {
    /* couleurs initiales (bleu) : #3cb0fd, #3498db */
    background: #3FBA26;
    background-image: -webkit-linear-gradient(top, #3FBA26, #52AE40);
    background-image: -moz-linear-gradient(top, #3FBA26, #52AE40);
    background-image: -ms-linear-gradient(top, #3FBA26, #52AE40);
    background-image: -o-linear-gradient(top, #3FBA26, #52AE40);
    background-image: linear-gradient(to bottom, #3FBA26, #52AE40);
    text-decoration: none;
}

/* vert */
.vert{
    color : green;
}

/* gras */
.gras{
    font-weight:bold;
}

/* _le_ message d'erreur Ajax si il y a lieu */
#erreur{
    color:red;
    font-weight:bold;
}

/* marge haute réduite */
.marge_haute_reduite{
    margin-top : -5%;
}

/* marge basse plus grande */
.marge_basse_augmentee{
    margin-bottom : 10%;
}

/* ce qui n'est (au départ) pas visible */
.invisible{
   display : none;
}

/* la div contenant les caractéristiques */
#caracteristiques{
    /* background-color: #BEE2EB; bleu clair */
    background-color: #BEEFB4; /* vert clair */
}

/* la div contenant les compétences */
#competences{
    /* background-color: #C390D5; violet clair */
    background-color: #BEEFB4; /* vert clair */
}

/* premier échelon */
.echelon_un{
    padding-left : 5%;
}

/* deuxième échelon */
.echelon_deux{
    padding-left : 10%;
}

/* troisième échelon */
.echelon_trois{
    padding-left : 15%;
}

/* quatrième échelon */
.echelon_quatre{
    padding-left : 20%;
}

/* cinquième échelon */
.echelon_cinq{
    padding-left : 25%;
}